{% extends 'base_laylout.html' %}
{% block content %}
<body>
        <h1>About US</h1>
        <div><b>
            <p>We like Django</p>
            <p>Stable release: 3.1.1 / 1 September 2020; 2 months ago
            <p>Initial release date: July 15, 2005</p>
            <p>License: 3-clause BSD</p>
            <p>Size: 8.9 MB</p>
            <p>Developer: Adrian Holovaty, Simon Willison, Django Software Foundation, Jacob Kaplan-Moss</p>
            <p>Programming languages: Python, HTML</p>
        </b></div>

</body>


{% endblock %}